<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Build Your Body With Us</p>
        <div class="row">
          {{!-- leftside --}}
          <div class="col-md-6 col-12 hero-text ">
<figure>
  <img src='https://img.freepik.com/free-vector/coach-concept-illustration_114360-5579.jpg?w=900&t=st=1674558784~exp=1674559384~hmac=9a30b97267d3ee9812034174077a428476bce68a3ef054ea76e583682fad39a2' style="width: 500px; border-radius:20px; margin: top 50px;" alt="">
</figure>

          </div>
          {{!-- right side --}}
          

          <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-center flex-column">
<h1>WE Are professional Trainer</h1>

<p>welcome to our <span class="bold-style">gym</span> we will give best facility</p>

          </div>
        </div>

      </div>
    </div>

   </div>