<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
       
        <div class="row">
             <h1 class="text-center main-heading" style="margin: 20px 10px;">My Location </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119743.53374947316!2d85.75041263285834!3d20.30087021965009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909d2d5170aa5%3A0xfc580e2b68b33fa8!2sBhubaneswar%2C%20Odisha!5e0!3m2!1sen!2sin!4v1674562882459!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>
    </div>

   </div>
 
   <h1 class="text-center main-heading" style="margin: 20px 10px; color:red;">Contact  Form   </h1>
   
    <div class="boxx">
      <form action="/contact" method="POST">
        <div class="form-group">
    <label for="exampleInputname">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter your name">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" >Email address</label>
    <input type="email"name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
  
  </div>
   <div class="form-group">
    <label for="exampleInputnumber" >Phone</label>
    <input type="number" name="phone" class="form-control" id="exampleInputnumber" aria-describedby="emailHelp" placeholder="Enter your phone number">
   
  </div>
 
  
  <button type="submit" class="btn btn-primary " style="margin: 10px;padding:10px; font-size:20px">Submit</button>
</form>
    </div> 
   
       
