<footer>

    <p>Created by <span>google cloud</span> <img src="https://logos-world.net/wp-content/uploads/2021/02/Google-Cloud-Symbol.png" alt=""width="70px" > <img src="https://www.nicepng.com/png/detail/357-3578467_google-cloud-logo-google-cloud-platform-png.png" alt="" width="160px" srcset=""> </p>
    </footer>