<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
        <h1 class="text-center main-heading">Our services</h1>
        <p class="text-center sub-heading">Choose The Services Any Time</p>
        <div class="row">
    <div class="col-md-4">
      <div class="box ">
        <div class="our-services settings">
          <div class="icons">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrT1rvOazMXU4o10rIbP1Nh5ajzDfjxtjeog&usqp=CAU width=50px" style="margin-top: 10px;" alt="">
          </div>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, laudantium!</p>

        </div>
      </div>
    </div>
      <div class="col-md-4">
      <div class="box ">
        <div class="our-services settings">
          <div class="icons">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuEeWogFhze1N79yy-cTd3Nk17DBUrbBClBg&usqp=CAU  width=50px" style="margin-top: 10px;" alt="">
          </div>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, laudantium!</p>

        </div>
      </div>
    </div>
      <div class="col-md-4">
      <div class="box ">
        <div class="our-services settings">
          <div class="icons">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrT1rvOazMXU4o10rIbP1Nh5ajzDfjxtjeog&usqp=CAU width=50px" style="margin-top: 10px;" alt="">
          </div>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, laudantium!</p>

        </div>
      </div>
    </div>
     <div class="col-md-4">
      <div class="box ">
        <div class="our-services settings">
          <div class="icons">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTnhf660VNOWT-3TsOxlujj53oFNN4OPG53A&usqp=CAU" style="margin-top: 10px;" alt="">
          </div>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, laudantium!</p>

        </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="box ">
        <div class="our-services settings">
          <div class="icons">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2c81U3-06PuzZVgFV3w9PkS7CyOpJFBfV3wdGTiMfU4IJWs6q-7Xw10QigT34RspfEEI&usqp=CAU" style="margin-top: 10px;" alt="">
          </div>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, laudantium!</p>

        </div>
      </div>
    </div>
    
     <div class="col-md-4">
      <div class="box ">
        <div class="our-services settings">
          <div class="icons">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLmATBNprWEd3kSImnANUVLcJww4md8yfzDw&usqp=CAU" style="margin-top: 10px;" alt="">
          </div>
          
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, laudantium!</p>

        </div>
      </div>
    </div>
    </div>
          </div>
          </div>
          </div>